.modalContainerOuter {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.547);
  /* color: white; */
}

.modalContainer {
  min-height: 100px;
  min-width: 400px;
  background-color: rgba(255, 255, 255, 0.855);
  padding: 24px;
  border-radius: 32px;
}

.modalContainerFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.modalContainerFooter button:last-child {
  background-color: #388e3c;
  min-width: 75px;
}

.modalContainerFooter button:last-child:hover {
  background-color: #1b5e20;
}
