.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 25px 40px;
  color: white;
  background-color: rgba(0, 0, 33, 0.961);
  font-weight: 500;
}

.navlist {
  display: flex;
  margin: 0px;
  padding: 0px;
  gap: 40px;
  list-style-type: none;
}

.active {
  color: red;
}


