.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 25px 40px;
  /* color: white; */
  background-color: white;
  font-weight: 500;
}

.navlist {
  display: flex;
  margin: 0px;
  padding: 0px;
  gap: 40px;
  list-style-type: none;
}
