.container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  gap: 16px;
  padding: 12px 28px;
  z-index: 1;
  opacity: 0.94;
}

.container button {
  padding: 0.6rem 1.3rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
  margin-left: 20px;
  background-color: #d63484;
}
